{% extends 'base.html'%}
{% import 'macros.html' as macro%}

<!-- Styles block -->
{% block styles%}
{{ super() }}
<link rel="stylesheet" href="{{url_for('static',filename='CSS.index.css')}}" >
<style>
    @import url('https://fonts.googleapis.com/css2?family=Viaoda+Libre&display=swap');
    </style>

{% endblock %}

<!-- Content block -->
{% block content%}
<div class="container">
<div class="card-header banner">
    <h1 style="text-align:center;">Welcome to our Daily News Updates</h1>
    <P class="int">A place to browse what you enjoy the most,  here we have it all</P>
</div>
    <div class="row">
        <div class="col-md-6">
            <h2>Business</h2>
            {{ macro.displaySourceList(business)}}
        </div>
        <div class="col-md-6">
            <h2> Technology</h2>
            {{ macro.displaySourceList(technology)}}
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <h2>Entertainment</h2>
            {{ macro.displaySourceList(entertainment)}}
        </div>
        <div class="col-md-6">
            <h2> Sports</h2>
            {{ macro.displaySourceList(Sports)}}
        </div>
    </div>
</div>
{%endblock%}